.header {
	position: relative;
	background: #333;
	width: 100%;
	height: 200px;
	margin-bottom: 50px;

	> ul {
		list-style-type: none;
		padding: 0px;
		position: absolute;
		bottom: 0px;
		left: 50px;

		> li {
			float: left;
			margin-right: 30px;

			> a {
				color: white;
				font-size: 20px;
				text-transform: uppercase;
				text-decoration: none;
			}
		}
	}
}