/*
	This stylesheet is applied to all themes and all pages.
	They can be overridden by themes, though their presence (or initial settings) may be depended upon by
	client-side logic in core.

	==========
*/

// rtl fixes for text-break and code blocks
/*rtl:begin:ignore*/
html[data-dir="rtl"] {
	.text-break {
		word-wrap: break-word!important;
		word-break: break-word!important;
	}

	[component="post/content"] code {
		direction: ltr;
		text-align: left;
	}
}
/*rtl:end:ignore*/

[component="post/content"],
[component="post/parent/content"],
[component="chat/message/body"],
[component="composer"] .preview {
	h1 { font-size: calc(1.15rem + 1vw); }
	h2 { font-size: calc(1.1rem + 0.8vw); }
	h3 { font-size: calc(1.075rem + 0.6vw); }
	h4 { font-size: calc(1.05rem + 0.3vw); }
	h5 { font-size: 1.125rem; }
	h6 { font-size: 1rem; }
	@include media-breakpoint-up(xl) {
		h1 { font-size: 1.75rem; }
		h2 { font-size: 1.5rem; }
		h3 { font-size: 1.375rem; }
		h4 { font-size: 1.250rem; }
		h5 { font-size: 1.125rem; }
		h6 { font-size: 1rem; }
	}
}

.btn-link {
	&:hover, &.active {
		background-color: var(--btn-ghost-hover-color);
		text-decoration: none;
	}
}