.tool-modal {
	position: fixed;
	bottom: 10%;
	right: 2rem;
	z-index: $zindex-modal;
}

@include media-breakpoint-up(sm) {
	.tool-modal {
		max-width: 33%;
	}
}

.topic-thumbs-modal {
	img.media-object {
		max-width: 20rem;
	}
}