npm-debug.log
node_modules/
sftp-config.json
config.json
public/src/nodebb.min.js
!src/views/config.json
public/css/*.css
*.sublime-project
*.sublime-workspace
.project
.idea
*.swp
Vagrantfile
.vagrant
provision.sh
*.komodoproject
.DS_Store
feeds/recent.rss

# winston?
error.log
events.log

pidfile

# templates
/public/templates
/public/sounds

# compiled files
/public/stylesheet.css
/public/admin.css
/public/nodebb.min.js
/public/nodebb.min.js.map
