
#user_label { //belongs in header.less
	img {
		border: 1px solid #454;
		margin-right: 8px;
		margin-top: -2px;
		float: left;
		width:24px;
		height:24px;
	}

	span {
		font-size: 14px;
		font-weight: 400;
		color: #ded;
	}
}