
.categories {
	h4 {
		font-weight: 700;
		text-align: left;
		/*color: #555;*/ // NOTE: color for cat/topic header links should be grey in the default theme when we get around to it.
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	a {
		text-decoration: none;
		border: 0;
	}
	.icon {
		width: 100%;
		height: 110px;
		text-align: center;
		border-radius: 0px;
		margin: 0;
		padding-top:25px;
		cursor: pointer;
		margin-bottom: 20px;
		border-radius: 5px;
		overflow:hidden;
	}

}

.category-purple {
	@color: #ab1290;
	background: @color;
	color: white;

	&:hover {
		background: lighten(@color, 10%);
	}
}

.category-darkblue {
	@color: #004C66;
	background: @color;
	color: white;

	&:hover {
		background: lighten(@color, 10%);
	}
}

.category-blue {
	@color: #0059B2;
	background: @color;
	color: white;

	&:hover {
		background: lighten(@color, 10%);
	}
}

.category-darkgreen {
	@color: #004000;
	background: @color;
	color: white;

	&:hover {
		background: lighten(@color, 10%);
	}
}
.category-orange {
	@color: #FF7A4D;
	color: white;
	background: @color;

	&:hover {
		background: lighten(@color, 10%);
	}
}