@import "mixins";

noscript {
	.default {
		list-style-type: none;
		padding: 1em;
		margin-bottom: 1em;
		.zebra;
	}

	.categories {
		li {
			.default;

			.icon {
				float: left;
				margin-right: 1em;
			}

			a {
				font-size: 20px;
			}
		}
	}

	.topics {
		li {
			.default;
		}

		.teaser {
			img {
				float: left;
			}
		}
	}

	.posts {
		li {
			.default;
		}
	}
}