@import "mixins";

noscript {
	.default {
		list-style-type: none;
		padding: 1em;
		margin-bottom: 1em;
		.zebra;
	}

	.categories {
		li {
			.default;

			.icon {
				float: left;
				margin-right: 1em;
			}

			a {
				font-size: 20px;
			}
		}
	}

	.topics {
		li {
			.default;
		}

		.teaser {
			margin-left: 16px;
			margin-top: 8px;

			img {
				float: left;
				width: 32px;
			}

			p {
				color: #666;
				font-size: 13px;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
				margin-left: 64px;
				padding-top: 10px;
			}
		}
	}

	.posts {
		li {
			.default;
		}
	}
}