
.caret-left {
	border-left: 0;
	border-right: 4px solid black;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
}



.pointer {
	cursor: pointer;
	*cursor: hand;
}

.inline-block {
	display: inline-block;
	*display: inline;
	zoom: 1;
}

body {
	background: #fdfdfd;
	-webkit-transition: margin-bottom 250ms ease;
	-moz-transition: margin-bottom 250ms ease;
	-ms-transition: margin-bottom 250ms ease;
	-o-transition: margin-bottom 250ms ease;
	transition: margin-bottom 250ms ease;

	&.composing {
		margin-bottom: 350px;
	}
}

.none {
	display: none !important;
}

.block, .show {
	display: block;
}
.badge {
	vertical-align: 17%;
}
.nav .badge {
	vertical-align: 10%;
}

@media (min-width: 979px) 
{	body {
		padding-top: 70px;
	}
}

#notification_window {
	position: absolute;
	right: 20px;
	top: 80px;
	width: 300px;
	height: 0px;
}

.toaster-alert {

	cursor: pointer;
}

footer.footer {
	color: #555;
	text-align: center;

	a {
		color: #222;
	}
}

#post_window {
	width: 100%;
	position: fixed;
	height: 350px;
	left: 0px;
	bottom: 0px;
	background: white;
	z-index: 1500;

	input {
		width: 100%;
		height: 30px;
		padding: 5px;
	}

	textarea {
		width: 100%;
		background: #222;
		height: 220px;
		resize: none;
		border-radius: 0;
		border: 1px solid #111;
		font-size: 16px;
		color: #bebebe;
		outline: 0;

		&:focus { 
			outline: 0;
			border:none !important;
			box-shadow:none !important;
		}
	}

	.post-title-container {
		opacity: 0.8;
		height: 50px;
	}

	.post-content-container {
		opacity: 0.8;
		background: #000;
		width: 100%;
		height: 300px;
	}
}


.topic-container {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}
.topic-container a:nth-child(odd) li.topic-row {
  background-color: #fdfdfd;
}
.topic-container a:nth-child(even) li.topic-row {
  background-color: #fff;
}
.topic-container a {
	margin-bottom: 10px;
	display: block;
	border: 1px solid #ddd;
	border-radius: 5px;
	text-decoration: none;
	color: #333;
}
.topic-container li.topic-row {
  cursor: pointer;
  border-bottom: 1px solid #eee;
  border-radius: 5px;
}
.topic-container li:last-child {
  border-bottom: 0;
}
.topic-container .row {
	
}
.topic-row-icon, .topic-row-content {
	}
.topic-row-icon {
	border-radius: 5px 0 0 5px;
	height: 64px;
	background: #0059B2;
	color: white;
	line-height: 105px;
	min-width: 64px;
	i {
		vertical-align: 25%;
		margin-left: 8px;
	}
}

@media (max-width: 767px) 
{
	.topic-row-icon {
		border-radius: 5px 5px 0 0;
	}
}

.top-posters {
	float: right;
	padding-top: 2px;

	div.img-polaroid {
		width: 300px;
		height: 50px;
		line-height: 16px;
		img {
			display: block;
			float: left;
		}
		p {
			display: block;
			float: left;
			width: 240px;
			margin-left: 10px;
			overflow: hidden;
			height: 50px;
		}
	}
	.img-polaroid {
		margin-left: 1px;
		border: 1px solid rgba(0,0,0,0.1);
	}
}

.topic-row-content {
	width: 80%;
}

.topic-row-content h3 {
	padding: 0;
	margin: 0;
	margin-top: 4px;
	line-height: 30px;
}

.topic-row-content h3 small {
	vertical-align: 3px;
}

.post-container {
	list-style-type: none;
	padding: 0;
	margin: 0;
	clear: both;

	.profile-image-block {
		background: white;
		display: inline-block;
		text-align: center;
		font-size: 12px;
	}

	li {
		padding-bottom: 15px;

		&.deleted {
			-moz-opacity: 0.30;
			opacity: 0.30;			
		}
	}

	.profile-block, .post-block {
		border: 1px solid #f0f0f0;
		border-radius: 5px;
		
		padding: 10px;
	}

	img {
		margin: 5px;
	}

	.profile-block {
		background: #fafafa;
		margin-right: -11px;
		margin-left: -11px;
		margin-bottom: -11px;
		margin-top: 15px;
		border-radius: 0 0 5px 5px;
		font-size: 10px;
		line-height: 18px;
		padding: 5px;
		padding-left: 10px;
	}
	.post-content {
		min-height: 50px;
		padding: 2px 5px 0 5px;
		word-wrap: break-word;
	}

	.post-block {
		.post-buttons {
			font-size: 12px;
			float: right;

			div {
				display: inline-block;
				padding-left: 15px;
				padding-right: 15px; 
				border-left: 1px solid #f0f0f0;
				cursor: pointer;

				&:last-child {
					padding-right: 5px;
				}
			}

			.icon-star {
				//theme this to make it yellow eventually
			}
		}
		background: #fff;
	}

	&.deleted {
		-moz-opacity: 0.30;
		opacity: 0.30;
	}
}

#user_label {
	img {
		border: 1px solid #454;
		margin-right: 8px;
		margin-top: -2px;
		float: left;
		width:24px;
		height:24px;
	}

	span {
		font-size: 14px;
		font-weight: 400;
		color: #ded;
	}
}

#reply_title {
	font-size: 17px;
	padding-top: 14px;
	font-weight: 600;
}

.alt-logins {
	margin: 0;
	padding: 0;

	li {
		vertical-align: top;
		background: transparent;
		display: none;
		.pointer;

		&.google {
			width: 32px;
			height: 32px;
			background-image: url('../images/google_login.png');
		}

		&.twitter {
			width: 32px;
			height: 32px;
			background-image: url('../images/twitter_login.png');
		}

		&.facebook {
			width: 32px;
			height: 32px;
			background-image: url('../images/facebook_login.png');
		}

		&.active {
			.inline-block;
		}
	}
}


#thread_active_users {
	float: right;
	color: rgb(153,153,153);

}

#thread_active_users strong {
	color: rgb(100,100,100);
	font-weight: 600;
	cursor: pointer;
}

.account-username-box{
  border-bottom:1px solid #e3e3e3;
  margin-bottom:10px;
}

.account-username{
  font-size:20px;
  font-weight:bold;
}

.account-picture-block{
    display:inline-block;
    margin-right:20px;
    vertical-align:top;
}
 
.user-profile-picture {
   width:128px;
   height:128px;
}

.user-8080-picture {
   width:80px;
   height:80px;
}

.user-picture-label {
  font-size:20px;
}

.account-bio-block{
  display:inline-block;
  vertical-align:top;
}

.account-bio-label{
  display:inline-block;
  width:100px;
}


.category-icon {
	width: 100%;
	height: 90px;
	text-align: center;
	border-radius: 5px;
	margin: 0;
	padding-top:25px;
	cursor: pointer;
	margin-bottom: 20px;
}
.category-row h4 {
	font-weight: 700;
	text-align: center;
	color: #555;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.category-row a {
	text-decoration: none;
	border: 0;
}

.category-purple {
	@color: #ab1290;
	background: @color;
	color: white;

	&:hover {
		background: lighten(@color, 10%);
	}
}

.category-darkblue {
	@color: #004C66;
	background: @color;
	color: white;

	&:hover {
		background: lighten(@color, 10%);
	}
}

.category-blue {
	@color: #0059B2;
	background: @color;
	color: white;

	&:hover {
		background: lighten(@color, 10%);
	}
}

.category-darkgreen {
	@color: #004000;
	background: @color;
	color: white;

	&:hover {
		background: lighten(@color, 10%);
	}
}
.category-orange {
	@color: #FF7A4D;
	color: white;
	background: @color;

	&:hover {
		background: lighten(@color, 10%);
	}
}

.category-list {
	li {
		.inline-block;
		.pointer;
		padding: 0.5em 0;
		text-align: center;
		margin: 0.5em;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		padding: 0.5em;
	}
}

.hero-unit {
	background: #56BCDA;
	color: white;
	padding: 30px;
}

.users-box{
  display:inline-block;
  margin-right:20px;
  margin-top: 20px;
  text-align:center;  
}

a:hover {
  text-decoration:none;
}
