
.caret-left {
	border-left: 0;
	border-right: 4px solid black;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
}



.pointer {
	cursor: pointer;
	*cursor: hand;
}

.inline-block {
	display: inline-block;
	*display: inline;
	zoom: 1;
}

body {
	background: #fdfdfd;
}

// havent really decided what makes more sense tbh
.none, .hide {
	display: none !important;
}

.block, .show {
	display: block;
}

@media (min-width: 979px) {
	body {
		padding-top: 70px;
	}
}

#notification_window {
	position: absolute;
	right: 20px;
	top: 80px;
	width: 300px;
	height: 0px;
}

.toaster-alert {

	cursor: pointer;
}

footer.footer {
	color: #555;
	text-align: center;

	a {
		color: #222;
	}
}

#post_window {
	width: 100%;
	position: fixed;
	height: 350px;
	left: 0px;
	bottom: 0px;
	background: white;

	input {
		width: 100%;
		height: 30px;
		padding: 5px;
	}

	textarea {
		width: 100%;
		background: #222;
		height: 220px;
		resize: none;
		border-radius: 0;
		border: 1px solid #111;
		font-size: 16px;
		color: #bebebe;
		outline: 0;

		&:focus { 
			outline: 0;
			border:none !important;
			box-shadow:none !important;
		}
	}

	.post-title-container {
		opacity: 0.8;
		height: 50px;
	}

	.post-content-container {
		opacity: 0.8;
		background: #000;
		width: 100%;
		height: 300px;
	}
}

.topic-container {
	list-style-type: none;
	padding: 0;
	margin: 0;
	border: 1px solid #eee;
	margin-top: 50px;

	a:nth-child(odd) li.topic-row {
		background-color:#fdfdfd;
	}

	a:nth-child(even) li.topic-row {
		background-color:#fff;
	}

	li.topic-row {
		cursor: pointer;
		border-bottom: 1px solid #eee;
		padding: 10px;
	}

	li:last-child {
		border-bottom: 0;
	}

	li.topic-row:hover {
		background-color: #eee;
	}
}

.post-container {
	list-style-type: none;
	padding: 0;
	margin: 0;
	clear: both;

	.profile-image-block {
		background: white;
		display: inline-block;
		text-align: center;
		font-size: 12px;
	}
	li {
		padding-bottom: 15px;
	}

	.profile-block, .post-block {
		border: 1px solid #f0f0f0;
		border-radius: 5px;
		
		padding: 10px;
	}

	img {
		margin: 5px;
	}

	.profile-block {
		background: #fafafa;
		margin-right: -11px;
		margin-left: -11px;
		margin-bottom: -11px;
		margin-top: 15px;
		border-radius: 0 0 5px 5px;
		font-size: 10px;
		line-height: 18px;
		padding: 5px;
		padding-left: 10px;
	}
	.post-content {
		min-height: 50px;
		padding: 2px 5px 0 5px;
		word-wrap: break-word;
	}

	.post-block {
		.post-buttons {
			font-size: 12px;
			float: right;

			div {
				display: inline-block;
				padding-left: 15px;
				padding-right: 15px; 
				border-left: 1px solid #f0f0f0;
				cursor: pointer;

				&:last-child {
					padding-right: 5px;
				}
			}

			.icon-star {
				//theme this to make it yellow eventually
			}
		}
		background: #fff;
	}

	&.deleted {
		-moz-opacity: 0.30;
		opacity: 0.30;
	}
}

#user_label {
	img {
		border: 1px solid #454;
		margin-right: 8px;
		margin-top: -2px;
		float: left;
	}

	span {
		font-size: 14px;
		font-weight: 400;
		color: #ded;
	}
}

#reply_title {
	font-size: 17px;
	padding-top: 14px;
	font-weight: 600;
}

.alt-logins {
	margin: 0;
	padding: 0;

	li {
		vertical-align: top;
		background: transparent;
		display: none;
		.pointer;

		&.google {
			width: 32px;
			height: 32px;
			background-image: url('../images/google_login.png');
		}

		&.twitter {
			width: 32px;
			height: 32px;
			background-image: url('../images/twitter_login.png');
		}

		&.facebook {
			width: 32px;
			height: 32px;
			background-image: url('../images/facebook_login.png');
		}

		&.active {
			.inline-block;
		}
	}
}


#thread_active_users {
	float: right;
	color: rgb(153,153,153);

}

#thread_active_users strong {
	color: rgb(100,100,100);
	font-weight: 600;
	cursor: pointer;
}

.account-username-box{
  border-bottom:1px solid #e3e3e3;
}

.account-username{
  font-size:20px;
  font-weight:bold;
}

.account-picture-block{
    display:inline-block;
    margin-right:20px;
}

.account-bio-block{
  display:inline-block;
  vertical-align:top;
}

.account-bio-label{
  display:inline-block;
  width:100px;
}



.category-icon {
	width: 100%;
	height: 90px;
	text-align: center;
	border-radius: 5px;
	margin: 0;
	padding-top:25px;
	cursor: pointer;
	margin-bottom: 20px;
}
.category-row h4 {
	font-weight: 700;
	text-align: center;
	color: #555;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.category-row a {
	text-decoration: none;
	border: 0;
}

.category-purple {
	background: #ab1290;
	color: white;
}

.category-darkblue {
	background: #004C66;
	color: white;
}

.category-blue {
	background: #0059B2;
	color: white;
}

.category-darkgreen {
	background: #004000;
	color: white;
}
.category-orange {
	color: white;
	background: #FF7A4D;
}

.hero-unit {
	background: #56BCDA;
	color: white;
	padding: 30px;
}