@import "mixins";

body {
	/*background: #fdfdfd;*/  // port to default theme when it is implemented.
	-webkit-transition: margin-bottom 250ms ease;
	-moz-transition: margin-bottom 250ms ease;
	-ms-transition: margin-bottom 250ms ease;
	-o-transition: margin-bottom 250ms ease;
	transition: margin-bottom 250ms ease;

	&.composing {
		margin-bottom: 350px;
	}

	@media (min-width: 979px) 
	{
		padding-top: 70px;
	}

	@media (max-width: 979px)
	{
		padding-bottom: 50px;
	}
}

button, a {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.none {
	display: none !important;
}

.block, .show {
	display: block;
}
.badge {
	vertical-align: 17%;
}
.nav .badge {
	vertical-align: 10%;
}

#alert_window {
	position: fixed;
	right: 20px;
	top: 60px;
	width: 300px;
	height: 0px;
}

.toaster-alert {

	cursor: pointer;
}

footer.footer {
	color: #555;
	text-align: center;

	a {
		color: #222;
	}
}

#post_window {
	width: 100%;
	position: fixed;
	height: 350px;
	left: 0px;
	bottom: 0px;
	background: white;
	z-index: 1500;

	input {
		width: 100%;
		height: 30px;
		padding: 5px;
	}

	textarea {
		width: 100%;
		background: #222;
		height: 220px;
		resize: none;
		border-radius: 0;
		border: 1px solid #111;
		font-size: 16px;
		color: #bebebe;
		outline: 0;

		&:focus { 
			outline: 0;
			border:none !important;
			box-shadow:none !important;
		}
	}

	.post-title-container {
		opacity: 0.8;
		height: 50px;
	}

	.post-content-container {
		opacity: 0.8;
		background: #000;
		width: 100%;
		height: 300px;
	}
}



#user_label { //belongs in header.less
	img {
		border: 1px solid #454;
		margin-right: 8px;
		margin-top: -2px;
		float: left;
		width:24px;
		height:24px;
	}

	span {
		font-size: 14px;
		font-weight: 400;
		color: #ded;
	}
}

#reply_title {
	font-size: 17px;
	padding-top: 14px;
	font-weight: 600;
}

.alt-logins {
	margin: 0 0 0 1em;
	padding: 0;

	li {
		vertical-align: top;
		background: transparent;
		display: none;
		margin: 0.25em;
		.pointer;

		&.active {
			.inline-block;
		}

		i {
			-webkit-transition: color 100ms linear;
			-moz-transition: color 100ms linear;
			-ms-transition: color 100ms linear;
			-o-transition: color 100ms linear;
			transition: color 100ms linear;

			&.icon-twitter-sign:hover {
				color: #4099FF;
			}

			&.icon-facebook-sign:hover {
				color: #3b5999;
			}

			&.icon-google-plus-sign:hover {
				color: #d34836;
			}
		}
	}
}


#thread_active_users {
	float: right;
	color: rgb(153,153,153);

	strong {
		color: rgb(100,100,100);
		font-weight: 600;
		cursor: pointer;
	}
}

.account-username-box{
  border-bottom:1px solid #e3e3e3;
  margin-bottom:10px;
}

.account-sub-links a{
	margin-left:10px;
}

.account-username{
  font-size:20px;
  font-weight:bold;
}

.account-picture-block{
    display:inline-block;
    vertical-align:top;
}

.account-online-status {
  .icon-circle-blank {
      color:red;
    }
    .icon-circle {
      color:green;
    }
}
 
.user-profile-picture {
   width:128px;
   margin-bottom:10px;
}

.user-picture-label {
  font-size:20px;
}

.account-bio-block{
  display:inline-block;
  vertical-align:top;
}

.account-bio-label{
  display:inline-block;
  width:100px;
}

.user-recent-posts {
  div {
    color: #333;
    margin-bottom: 10px;
    cursor: pointer;
    p {
    	color: #333;
    }
  }
  span {
    padding-top: 10px;
  }
}

.category-icon {
	width: 100%;
	height: 90px;
	text-align: center;
	border-radius: 0px;
	margin: 0;
	padding-top:25px;
	cursor: pointer;
	margin-bottom: 20px;
	border-radius: 5px;
	overflow:hidden;
}
.category-row h4 {
	font-weight: 700;
	text-align: left;
	/*color: #555;*/ // NOTE: color for cat/topic header links should be grey in the default theme when we get around to it.
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.category-row a {
	text-decoration: none;
	border: 0;
}

.category-purple {
	@color: #ab1290;
	background: @color;
	color: white;

	&:hover {
		background: lighten(@color, 10%);
	}
}

.category-darkblue {
	@color: #004C66;
	background: @color;
	color: white;

	&:hover {
		background: lighten(@color, 10%);
	}
}

.category-blue {
	@color: #0059B2;
	background: @color;
	color: white;

	&:hover {
		background: lighten(@color, 10%);
	}
}

.category-darkgreen {
	@color: #004000;
	background: @color;
	color: white;

	&:hover {
		background: lighten(@color, 10%);
	}
}
.category-orange {
	@color: #FF7A4D;
	color: white;
	background: @color;

	&:hover {
		background: lighten(@color, 10%);
	}
}

.category-list {
	li {
		.inline-block;
		.pointer;
		padding: 0.5em 0;
		text-align: center;
		margin: 0.5em;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		padding: 0.5em;
	}
}

.hero-unit {
	background: #56BCDA;
	color: white;
	padding: 30px;
	word-wrap: break-word;
}

.users-box{
  display: inline-block;
  margin-top: 20px;
  text-align: center; 
  vertical-align: top; 
  max-width: 104px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  img {
  	width:80px;
  	height:80px;
  }

  a {
  	margin:5px;
  }
}

a:hover, .btn-link:hover, .btn-link:active, .btn-link:focus {
  text-decoration:none;
}

.formatting-bar {
	.no-select;

	span:focus {
		outline: none;
	}
}


.breadcrumb {
	li {
		max-width: 35%;
		white-space: nowrap;
		text-overflow:ellipsis;
		overflow: hidden;
	}
}

body .navbar .nodebb-inline-block {
	display:inline-block;
}

#right-menu{
	float:right;
}

#admin-redis-info {
	span {
		display:inline-block;
		width:200px;
	}
}

.post-signature {
  color: #666;
  font-size: 12px;
  border-top: 1px solid #ddd;
  display: inline-block;
	
	img {
	  max-width:200px;
	  max-height:60px;
	}
}

.username-field {
	.icon-circle {
		font-size: 12px;
		color: green;
		margin-right:3px;
	}
	.icon-circle-blank {
		font-size: 12px;
		color: red;
		margin-right:3px;
	}
}

#chat-content {
	width:95%;
	height:200px;
	resize:none;
}

#chat-message-input {
	width:95%;
}

#content{
  padding-bottom:20px;
}

.dropdown-toggle {
	i {
		font-size: 12px;

		&.active {
			color: #558;
			text-shadow: 0 0 1em #aaf, 0 0 1em #aaf, 0 0 1em #aaf;
		}
	}
}

#notif-list {
	li {
		font-size: 12px;
		width: 300px;
		text-align: left;

		a {
			white-space: normal;
		}

		&.unread {
			background: #eceff5;
		}
	}
}

.taskbar {
	display: none;
	-moz-opacity: 0.5;
	opacity: 0.5;
	margin-top: 0;
	-webkit-transition: opacity 250ms ease-in;
	-moz-transition: opacity 250ms ease-in;
	-ms-transition: opacity 250ms ease-in;
	-o-transition: opacity 250ms ease-in;
	transition: opacity 250ms ease-in;

	&[data-active="1"] {
		display: block;
	}

	&:hover {
		-moz-opacity: 1;
		opacity: 1;
	}

	li {
		a > span {
			.inline-block;
			max-width: 200px;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}

		img {
			max-width: 24px;
			max-height: 24px;
			margin-right: 1em;
		}

		&.pulse {
			-webkit-animation: pulsate 2500ms linear;
			-webkit-animation-iteration-count: infinite;
		}

		@-webkit-keyframes pulsate {
			0% { background: none; }
			50% { background: #e5e5e5; }
			100% { background: none; }
		}
	}
}

.post-window {
	position: fixed;
	display: none;
	height: 350px;
	visibility: hidden;

	> div {
		position: absolute;
		height: 100%;
		background: rgba(64, 64, 64, 0.6);
		visibility: visible;

		.btn-toolbar {
			width: 90%;
			margin: 0 auto;

			span {
				color: white;

				&:hover {
					text-decoration: none;
				}
			}
		}

		input {
			width: 98%;
			text-align: center;
			border: none;
			padding: 0.5em 0;
			-webkit-border-radius: 0px;
			-moz-border-radius: 0px;
			border-radius: 0px;
			margin: 1% 1% 2% 1%;
		}

		textarea {
			background: rgba(64, 64, 64, 0.95);
			border: none;
			padding: 0.5em;
			display: block;
			width: 90%;
			margin: 0.5em auto;
			resize: none;
			color: white;
			height: 200px;
		}
		
		#imagedrop {
		  text-align:center;
		  color:white;
		  position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height:230px;
      line-height:230px;
      font-size:20px;
      vertical-align: middle;
		}
		
		#imagelist {
		  position: absolute;
      bottom: 5px;
      left: 0px;
      padding-left:2em;
      
      div {
        margin-right:5px;
      }
      span {
        line-height:20px;
        float:left;
      }
      button { 
        padding-left:5px;
      }
		}
	}
}

@media (max-width: 979px) {
	.post-window {
		position: relative;
		bottom: 0px !important;

		> div {
			position: static;
			width: 100% !important;
		}
	}
}


#mobile-menu {
	position: fixed;
	bottom: 0px;
	height: 50px;
	background: #333;
	width: 100%;
	left: 0px;
}

#mobile-menu, #mobile-menu-overlay {
	z-index: 999;

	@media (min-width: 979px) 
	{
		display: none !important;
	}
}


.btn-none,
.btn-none:active,
.btn-none[disabled] {
  background-color: transparent;
  background-image: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.btn-none {
  cursor: pointer;
  border-color: transparent;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.btn-none:hover,
.btn-none:focus {
  text-decoration: none;
  background-color: transparent;
}

.btn-none[disabled]:hover,
.btn-none[disabled]:focus {
  text-decoration: none;
}

.btn-none {
	.icon-white {
		color: white;
	}
}

#mobile-menu {
	button {
		color: #eee;
		padding: 10px;
		text-shadow: none;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
	}
}

#mobile-menu-overlay {

	background: rgba(0, 0, 0, 0.85);
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	//margin-top: 50px;
	padding-top: 20px;
	opacity: 0;

	-webkit-transition: opacity 150ms ease;
	-moz-transition: opacity 150ms ease;
	-ms-transition: opacity 150ms ease;
	-o-transition: opacity 150ms ease;
	transition: opacity 150ms ease;
	z-index: -1;
	&.menu-visible {
		z-index: 99;
		opacity: 1;
	}

	.mobile-menu-icon {
		color: white;
		width: 20%;
		min-width: 85px;
		height: auto;
		text-align: center;
		padding: 10px;
		display: inline-block;
		cursor: pointer;
		-webkit-tap-highlight-color: rgba(0,0,0,0);

		-webkit-transition: margin-top 250ms ease;
		-moz-transition: margin-top 250ms ease;
		-ms-transition: margin-top 250ms ease;
		-o-transition: margin-top 250ms ease;
		transition: margin-top 250ms ease;

		margin-top: 20%;
		

		&.menu-visible {
			margin-top: 0%;
  	}

		i {
			width: 100%;
		}

	}
}

#mobile-sidebar {
	height: 100%;
	position: absolute;
	left: 100%;
	top: 0px;
	overflow: hidden;
	margin-top: 60px;
}

.category-box {
  height:90px;
  
  .post-preview {
    padding-left:10px;
    padding-right:10px;
    text-align:left;
    img {
      width:60px;
      height:60px;
      padding-right:5px;
    }
    
    p {
      overflow: hidden;
      text-overflow:ellipsis;
      height:60px;
    }
  }
}

@-webkit-keyframes scroll-2 /* Safari and Chrome */
{
    0%   {top: 0px;}
    25%   {top: -90px;}
    50%  {top: -180px;}
    75%  {top: -270px;}
    100% {top: -360px;}
}

@keyframes scroll-2
{
    0%   {top: 0px;}
    25%   {top: -90px;}
    50%  {top: -180px;}
    75%  {top: -270px;}
    100% {top: -360px;}
}

@-webkit-keyframes scroll-1 /* Safari and Chrome */
{
    0%   {top: 0px;}
    33%   {top: -90px;}
    66%  {top: -180px;}
    100%  {top: -270px;}
}

@keyframes scroll-1
{
    0%   {top: 0px;}
    33%   {top: -90px;}
    66%  {top: -180px;}
    100%  {top: -270px;}
}

@-webkit-keyframes scroll-0 /* Safari and Chrome */
{
    0%   {top: 0px;}
    50%   {top: -90px;}
    100%  {top: -180px;}
}

@keyframes scroll-0
{
    0%   {top: 0px;}
    50%   {top: -90px;}
    100%  {top: -180px;}
}

.category-slider-2:hover {
  position:relative;

  -webkit-animation: scroll-2 10s ease 0.5s infinite normal;    
  animation: scroll-2 10s ease 0.5s infinite normal;/* Safari and Chrome: */
}

.category-slider-1:hover {
  position:relative;

  -webkit-animation: scroll-1 8s ease 0.5s infinite normal;    
  animation: scroll-1 8s ease 0.5s infinite normal;/* Safari and Chrome: */
}

.category-slider-0:hover {
  position:relative;

  -webkit-animation: scroll-0 6s ease 0.5s infinite normal;    
  animation: scroll-0 6s ease 0.5s infinite normal;/* Safari and Chrome: */
}
