
.post-container {
	list-style-type: none;
	padding: 0;
	margin: 0;
	clear: both;

	.profile-image-block {
		display: inline-block;
		text-align: center;
		font-size: 12px;

		.stats {
			clear: both;
		}
	}

	li {
		padding-bottom: 15px;

		&.deleted {
			-moz-opacity: 0.30;
			opacity: 0.30;
			height:30px;
			overflow-y:hidden;
		}

		&.deleted-expanded {
			height:100%;
			overflow-y:default;
		}
	}

	.profile-block, .post-block {
		position:relative;
		border: 1px solid rgba(0, 0, 0, 0.06);
		border-radius: 5px;
		padding: 10px;

		p {
			line-height: 1.75em;
		}
	}

	.profile-block {
		background: rgba(0, 0, 0, 0.02);
		margin-right: -11px;
		margin-left: -11px;
		margin-bottom: -11px;
		margin-top: 15px;
		border-radius: 0 0 5px 5px;
		font-size: 10px;
		line-height: 18px;
		padding: 5px;
		padding-left: 10px;

		img.hidden-desktop {
			max-width: 10px;
			max-height: 10px;
			padding-top: 5px;
			margin-right: 5px;

		}
	}
	.post-content {
		min-height: 50px;
		padding: 2px 5px 0 5px;
		word-wrap: break-word;
	}

	.post-images{
		padding: 2px 5px 0 5px;
	}

	.post-block {
		.post-buttons {
			font-size: 12px;
			float: right;
			margin-right: 5px;

			button.show {
				display: inline-block!important;
			}

			button, a {
				display: inline-block;
				padding: 0px 15px;
				border: none;
				border-left: 1px solid rgba(0, 0, 0, 0.06);
				cursor: pointer;
				background: none;
				font-size: 12px;
				height: 20px;

				&:last-child {
					padding-right: 5px;
				}
			}

			.icon-star {
				//theme this to make it yellow eventually
			}
		}
	}



	&.deleted {
		-moz-opacity: 0.30;
		opacity: 0.30;
	}
	/*http://stackoverflow.com/questions/11037517/bootstrap-making-responsive-changes-to-layout*/
	@media (max-width: 979px) {


		.span12-tablet {
			width: 100% !important;
			margin-left:0px;
			*width: 100% !important;
		}
	}

	@media (min-width: 979px) {
		.speech-bubble:after
		{
			content: "";
			position: absolute;
			top: 9px;
			left: -7px;
			border-style: solid;
			border-width: 7px 7px 7px 0;
			border-color: transparent #FFFFFF;
			display: block;
			width: 0;
			z-index: 1;
		}

		.speech-bubble:before
		{
			content: "";
			position: absolute;
			top: 9px;
			left: -8px;
			border-style: solid;
			border-width: 7px 7px 7px 0;
			border-color: transparent rgba(0, 0, 0, 0.125);
			display: block;
			width: 0;
			z-index: 0;
		}
	}

	.main-post {
		h3 {
			margin: 0;

			.topic-title {
				width: auto;
				overflow: hidden;
				margin: 0;
				padding: 0;
				padding-top: 0px;
				margin-bottom: -5px;
				padding-bottom: 5px;
			}
		}

		.main-avatar {
			color: white;
			position: relative;
			float: left;
			margin-right: 25px;
			margin-bottom: 0px;
			padding-bottom: 0px;
			text-align: center;
			width:80px;

			@media (max-width: 767px) {
				display: none;
			}
		}

		.main-avatar:hover .hover-overlay {
			opacity: 0.75;
		}

		.hover-overlay {
			margin: 5px;
			position: absolute;
			bottom: 0px;
			height: 35px;
			padding-top: 2px;
			width: 80px;
			font-size: 13px;
			line-height: 16px;
			background: #000;
			opacity: 0;
			transition: opacity 0.3s;
		}

		.post-content {
			min-height: 80px;
		}
		hr {
			margin-top: 0;
			margin-right: 10px;
			margin-bottom: 0;
		}
		.post-block {
			.post-buttons {
				div {
					border: 0;
				}
			}
		}
		.favourite {
			cursor: pointer;
		}
		.btn {
			display: inline-block;
		}

		.topic-buttons {
			button.show {
				display: inline-block!important;
			}
		}

	}
}


