files:
  "/opt/elasticbeanstalk/config.json" :
    mode: "000755"
    owner: root
    group: users
    source: https://s3.amazonaws.com/members-only-env/ec2/cbforum/config.json
    authentication: S3Access
Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Access:
          type: S3
          roleName: tsemembers-ec2-api
          buckets: members-only-env
commands:
  move_config:
    command: "mv /opt/elasticbeanstalk/config.json /var/app/current/."