files:
  "/opt/elasticbeanstalk/jumpcloudtag.rb" :
    mode: "000777"
    owner: root
    group: root
    source: https://s3.amazonaws.com/members-only-env/ec2/jumpcloudtag.rb
    authentication: S3Access
  "/opt/elasticbeanstalk/jumpcloudinit.sh":
    mode: "000777"
    owner: root
    group: root
    source: https://s3.amazonaws.com/members-only-env/ec2/jumpcloudinit.sh
    authentication: S3Access
Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Access:
          type: S3
          roleName: tsemembers-ec2-api
          buckets: members-only-env
commands:
  "01":
    command: /bin/bash /opt/elasticbeanstalk/jumpcloudinit.sh cb-forum Members-Only