.page-admin-privileges {
	@keyframes fadeOut {
		0% {background-color: $primary;}
		100% {background-color: white;}
	}

	tr[data-group-name].selected, tr[data-uid].selected {
		animation-name: fadeOut;
		animation-duration: 5s;
		animation-fill-mode: both;
		animation-timing-function: ease-out;
	}

	.privilege-table {
		td:first-child {
			white-space: nowrap;
		}
	}
}