{
	"globals": {
		"app": true,
		"io": true,
		"socket": true,
		"ajaxify": true,
		"config": true,
		"utils": true,
		"overrides": true,
		"componentHandler": true,
		"bootbox": true,
		"Visibility": true,
		"Tinycon": true,
		"Promise": true
	},
	"env": {
		"jquery": true,
		"amd": true,
		"browser": true,
		"es6": true
	},
	"rules": {
		"block-scoped-var": "off",
		"no-dupe-class-members": "off",
		"no-var": "off",
		"object-shorthand": "off",
		"prefer-arrow-callback": "off",
		"prefer-spread": "off",
		"prefer-object-spread": "off",
		"prefer-reflect": "off",
		"prefer-template": "off"
	},
	"parserOptions": {
		"ecmaVersion": 2018,
		"ecmaFeatures": {
			"classes": false,
			"defaultParams": false,
			"blockBindings": false,
			"forOf": false,
			"generators": false,
			"globalReturn": false,
			"jsx": false,
			"modules": false,
			"objectLiteralComputedProperties": false,
			"objectLiteralDuplicateProperties": false,
			"objectLiteralShorthandMethods": false,
			"objectLiteralShorthandProperties": false,
			"impliedStrict": false,
			"restParams": false,
			"superInFunctions": false
		}
	}
}
