.ghost-scrollbar {
	&::-webkit-scrollbar {
		width: 10px;
	}

	&::-webkit-scrollbar-track {
		border-radius: 8px;
		background-color: $gray-200;
		border: none;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 8px;
		border: 2px solid transparent;
		background-clip: content-box;
		background-color: $gray-500;
	}
}

// https://stackoverflow.com/a/32455002/583363
@supports (-moz-appearance:none) {
	.ghost-scrollbar {
		padding-right: $spacer * 0.75 !important;
	}
}