.alert-window {
	position: fixed;
	width: 300px;
	z-index: 10002;

	right: 20px;
	bottom: 0px;

	.alert {
		.close {
			color: inherit;
		}

		&::before {
			position: relative;
			top: -15px;
			left: -15px;
			display: block;
			height: 2px;
			width: 0;
			transition: inherit;
		}

		&.alert-info {
			.btn-close {
				$btn-close-color: $info;
				background-image: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$btn-close-color}'><path d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/></svg>"));
			}

			&::before {
				background-color: $info;
			}
		}

		&.alert-warning {
			.btn-close {
				$btn-close-color: $warning;
				background-image: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$btn-close-color}'><path d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/></svg>"));
			}

			::before {
				background-color: $warning;
			}
		}

		&.alert-success {
			.btn-close {
				$btn-close-color: $success;
				background-image: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$btn-close-color}'><path d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/></svg>"));
			}

			::before {
				background-color: $success;
			}
		}

		&.alert-danger {
			.btn-close {
				$btn-close-color: $danger;
				background-image: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$btn-close-color}'><path d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/></svg>"));
			}

			::before {
				background-color: $danger;
			}
		}

		&.animate {
			&.alert-info::before {
				background-color: lighten($info, 25%);
			}

			&.alert-warning::before {
				background-color: lighten($warning, 25%);
			}

			&.alert-success::before {
				background-color: lighten($success, 25%);
			}

			&.alert-danger::before {
				background-color: lighten($danger, 25%);
			}

			&::before {
				width: calc(100% + 50px);
			}
		}

		background-color: white;
		padding-right: 16px;
		border: 0;
		border-left: 5px solid !important;
		box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25), 0px 2px 10px 0px rgba(0, 0, 0, 0.25);

		strong {
			text-transform: uppercase;
		}

		p {
			padding: 10px 0px 0px;
		}

		&.alert-info {
			color: $info;
			border-color: $info;
		}

		&.alert-warning {
			color: $warning;
			border-color: $warning;
		}

		&.alert-success {
			color: $success;
			border-color: $success;
		}

		&.alert-danger {
			color: $danger;
			border-color: $danger;
		}
	}
}
