.plugins {
	.plugin-list.ui-sortable {
		li {
			cursor: pointer;

			.fa-chevron-up {
				margin-right: 10px;
			}

			.fa-chevron-up, .fa-chevron-down {
				border: 1px solid;
				border-radius: 50%;
				padding: 3px;
				vertical-align: 1px;
				background-color: white;
			}

			&:first-child .fa-chevron-up, &:last-child .fa-chevron-down {
				pointer-events: none;
				color: $gray-300;
			}
		}
	}
	.controls .btn {
		display: list-item;
		width: 150px;
		margin-bottom: 3px;
		margin-left: 10px;
	}
}