#rewards {
	ul {
		list-style-type: none;
		padding: 0px;
		margin: 0px;

		> li {
			border-bottom: 1px solid #ddd;
			margin-bottom: 20px;
			&:last-child {
				border-bottom: 0;
			}
		}
	}

	.rewards { width: 100%; }

	.card {
		border-radius: 2px;
		border-width: 2px;
		color: #333;

		&.if-block {
			border-color: $primary;
			max-width: 33%;
		}
		&.this-block {
			border-color: $warning;
			max-width: 33%;
		}
		&.then-block {
			border-color: $success;
			max-width: 33%;
		}
		&.reward-block {
			border-color: $success;
			background-color: lighten($success, 15%);
			color: #fff;
			a, select, input { color: #fff; }
			select > option { color: #333; }
			width: 100%;
			min-height: 110px;
		}
	}
}

#new {
	@include floating-button;

	bottom: calc(64px + $spacer);
	background-color: $success;
}