.selectable {
	.user-select(none);
	position: relative;

	.selector {
		position: absolute;
		border: 1px solid #89B;
		background: #BCE;
		background-color: #BEC;
		border-color: #8B9;
		z-index: 999;
	}

	.selection {
		border: 1px solid transparent;
		margin: 2px;

		&.selected, &.active {
			background-color: #ECF1DB;
			border: 1px dashed #9B8;
		}
	}	
}