/*
	Post queue page CSS
	  - Originally in ACP
	  - Now available in front-end for global mods as well
*/
.posts-list {
    .topic-title {
        word-break: break-word;
    }
    .post-content {
        word-break: break-word;
    }
    .post-content-editable {
        textarea {
            width: 100%;
            height: 300px;
        }
    }
}
