.tags {

}

.tag-container {
	margin-right: 1em;
}

.tag-item {
	color: lighten(@gray-light, 20%);
	padding: .2em .4em .3em;
	font-size: 85%;
	text-transform: uppercase;
	color: #999;
	font-weight: 700;
	white-space: nowrap;
}

.tag-topic-count {
	color: lighten(@brand-primary, 20%);
	padding: 0em 0.4em 0.1em;
	font-size: 85%;
	font-weight: 700;
	white-space: nowrap;
	border-left: none;
}

.tag-list {
	display: inline-block;
	.tag {
		text-transform: uppercase;
		font-size: 10px;
		background: #e9ecef;
    	color: #7a8288;
		padding: 5px;
		white-space: nowrap;
	}
}